<head>
    <title>Login Page</title>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Custom styles-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glory&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon.png">
</head>
<app-header></app-header>

<body>
    <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Modificar Datos</h3>
                        
                    </div>
                    <div class="card-body">
                        <div class="input-group form-group">
                            <h4>Nombre: </h4>
                            <input type="text" id="nombre" name="nombre" class="input-nombre" 
                                value="{{ perfil.nombre }}" #nombre>
                        </div>
                        <div class="input-group form-group">
                            <h4>Apellido: </h4>
                            <input type="text" id="apellido" name="apellido" class="input-apellido" 
                                value="{{perfil.apellido}}" #apellido>
                        </div>
                        <div class="input-group form-group">
                            <h4>Edad: </h4>
                            <input type="text" id="edad" name="edad" class="input-edad" 
                                value="{{perfil.edad}}" #edad>
                        </div>

                        <div class="input-group form-group">
                            <h4>Idioma Nativo: </h4>
                            <input type="text" id="idiomaNativo" name="idiomaNativo" class="input-idiomaNativo" 
                                value="{{perfil.idiomaNativo}}" #idiomaNativo>
                        </div>

                        <div class="input-group form-group">
                            <h4>Idioma a Aprender: </h4>
                            <input type="text" id="idiomaAprender" name="idiomaAprender" class="input-idiomaAprender" 
                                value="{{perfil.idiomaAprender}}" #idiomaAprender>
                        </div>

                        <div class="input-group form-group">
                            <h4>Usuario: </h4>
                            <input type="text" id="usuario" name="usuario" class="input-usuario" 
                                value="{{perfil.usuario}}" #usuario>
                        </div>

                        <div class="input-group form-group">
                            <h4>Contraseña: </h4>
                            <input type="password" id="password" name="password" class="input-password" 
                                value="{{perfil.password}}" #password>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary btn-guardar" (click)="actualizarUsuario(nombre.value, apellido.value, edad.value, idiomaNativo.value, idiomaAprender.value, usuario.value, password.value )">
                            Actualizar
                        </button>
                        <button type="button" class="btn btn-error btn-guardar" (click)="regresar()">
                            Cancelar
                        </button>
                    </div>
                </div>
            </div>
    </div>
</body>
<app-footer></app-footer>