<header>
    <div class="contenedor">
        <div class="menu">
            <a [routerLink]="['/inicio']">
                <p class="nombre-titulo">TINDERLINGO</p>
            </a>
            <nav>
                <ul class="lista">
                    <a href="#sobre-nosotros">
                        <li>Sobre Nosotros</li>
                    </a>
                    <a href="#id-servicios">
                        <li>Contacto</li>
                    </a>
                    <a [routerLink]="['/registro']">
                        <li>Registrarse</li>
                    </a>
                    <a [routerLink]="['/login']">
                        <li>Iniciar sesion</li>
                    </a>
                </ul>
            </nav>
        </div>
        
    </div>
</header>
