<head>
    <title>Login Page</title>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Custom styles-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glory&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon.png">
</head>
<app-header></app-header>
<body>
    <div class="container">
        <form action="" [formGroup]="formulario" (ngSubmit)="verificarDatos()" autocomplete="off">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Iniciar Sesión</h3>
                        <div class="d-flex justify-content-end social_icon">
                            <span><i class="fab fa-facebook-square"></i></span>
                            <span><i class="fab fa-google-plus-square"></i></span>
                            <span><i class="fab fa-twitter-square"></i></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" 
                                    id="usuario"
                                    name="usuario"
                                    class="form-control" 
                                    placeholder="Usuario"
                                    formControlName="usuario"
                                    [class.is-invalid]="usuarioNoValido">
                            <small *ngIf="usuarioNoValido"
                            class="text-danger">
                                Debe Ingresar El Usuario
                            </small>
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" 
                                    id="password"
                                    name="password"
                                    class="form-control" 
                                    placeholder="Password"
                                    formControlName="password"
                                    [class.is-invalid]="passwordNoValido">
                            <small *ngIf="passwordNoValido"
                            class="text-danger">
                                Debe Ingresar La Contraseña
                            </small>
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Recordar usuario
                        </div> 
                        <button type="submit" class="btn login_btn">
                            Ingresar
                        </button>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Aún no tienes cuenta?<a href="#">Registrate</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="#">Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="error-login" *ngIf="error">
        Los Datos Ingresados son incorrectos
    </div>
</body>
<app-footer></app-footer>